body {
    font-family: 'ANTON' ; /* Change to Poppins */
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #ffdd00; /* Light pink color */
}

header {
    background: #000000; /* Pink */
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

.product {
    background: #000000;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin: 10px 0;
}

.product img {
    max-width: 100%;
    height: auto;
}

.buy-button {
    background-color: #101686; /* Blue */
    color: rgb(252, 246, 222);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.buy-button:hover {
    background-color: #ff0000;
}

footer {
    text-align: center;
    padding: 10px 0;
    background:rgb(23, 37, 93);
    color: #fff36b;
    position: relative;
    bottom: 0;
    width: 100%;
}
